<header class="header-container">
  <!-- Barra Superior -->
  <div class="top-bar">
    <div class="logo-area">
      <img src="../../assets/images/logo_soto.png" alt="Zona Center" class="logo">
    </div>
    <div class="client-social">
      <div class="client-area">
        <span class="material-symbols-outlined">person</span>
        <a href="#" class="client-login">Mi cuenta</a>
      </div>
      <div class="social-icons">
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-twitter"></i></a>
      </div>
    </div>
  </div>
  


  <!-- Botones principales encima del toggle -->
  <div class="action-buttons">
    <button class="work-with-us">
      <span class="material-symbols-outlined">handshake</span>
      Trabaja con nosotros
    </button>
    <button class="consultory">
      <span class="material-symbols-outlined">support_agent</span>
      Servicio de Consultoría
    </button>
  </div>

  <!-- Menú Principal -->
  <nav class="main-menu">
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    <ul [class.active]="menuOpen" class="menu-list">
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Acerca de</a></li>
      <li><a href="#">Precios</a></li>
      <li><a href="#">Contactos</a></li>
      <li><a href="#">Realizar Pago</a></li>
      <li>
        <a href="https://pluto.tv/latam/account/sign-in" target="_blank">
          PlutoTv <span class="live-dot"></span>
        </a>
      </li>
    </ul>
  </nav>
</header>
