<header class="header-container">
  <!-- Botones principales encima del toggle -->
  <div class="action-buttons">
    <div class="client-area">
      <span class="material-symbols-outlined">person</span>
      <a href="#" class="client-login">Mi cuenta</a>
    </div>
    <button class="work-with-us">
      <span class="material-symbols-outlined">handshake</span>
      Trabaja con nosotros
    </button>
    <button class="consultory">
      <span class="material-symbols-outlined">support_agent</span>
      Servicio de Consultoría
    </button>
    <div class="social-icons">
      <a href="https://www.facebook.com/zonawimax" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="#"><i class="bi bi-twitter"></i></a>
    </div>
  </div>

  <!-- Menú Principal -->
  <nav class="main-menu">
    <div routerLink="/" class="logo-area">
      <img src="../../assets/images/logo_soto.png" alt="Zona Center" class="logo">
    </div>
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    <ul [class.active]="menuOpen" class="menu-list">
      <li><a routerLink="/Wireless-Internet" [routerLinkActive]="['active']">Conexión Inalámbrica</a></li>
      <li><a routerLink="/Hotspot-Mikrotik" [routerLinkActive]="['active']">Sistema Hotspot</a></li>
      <li><a href="#">Servicio de Consultoría TI</a></li>
      <li><a href="#">Contactos</a></li>
      <li><a href="#">Realizar Pago</a></li>
      <li>
        <a href="https://pluto.tv/latam/account/sign-in" target="_blank">
          PlutoTv <span class="live-dot"></span>
        </a>
      </li>
          <!-- Nuevo contenedor dinámico -->
    <li *ngIf="showExtraButtons" class="dropdown-extra">
      <a href="#" class="client-login">Mi cuenta</a>
      <button class="work-with-us">
        <span class="material-symbols-outlined">handshake</span>
        Trabaja con nosotros
      </button>
      <button class="consultory">
        <span class="material-symbols-outlined">support_agent</span>
        Servicio de Consultoría
      </button>
    </li>
    </ul>
  </nav>
  <div class="icon-section" [ngClass]="{'hidden': hideIconSection}">
    <div class="icon">
      <img routerLink="/Wireless-Internet" [routerLinkActive]="['active']" src="../../../../assets/images/torre-de-señal.png" alt="Fibra + Móvil">
      <span>Internet</span>
    </div>
    <div class="icon">
      <img routerLink="/Hotspot-Mikrotik" [routerLinkActive]="['active']" src="../../../../assets/images/servicios-de-consultoria.png" alt="Móvil">
      <span>Soluciones</span>
    </div>
    <div class="icon">
      <img src="../../../../assets/images/wifi.png" alt="Fibra">
      <span>Soporte</span>
    </div>
  </div>
</header>
