<header class="header-container">
  <!-- Barra Superior -->
  <div class="top-bar">

    <div class="client-area">
      <span class="material-symbols-outlined">person</span>
      <span class="client-login"><a href="#">Mi cuenta</a></span>
    </div>

    <div class="central-buttons">
      <button class="work-with-us"><span class="material-symbols-outlined">handshake</span>Trabaja con nosotros</button>
      <img src="../../../../assets/images/logo_soto.png" alt="Zona Center" class="logo">
      <button class="consultory"><span class="material-symbols-outlined">support_agent</span>Servicio de Consultoría</button>
    </div>

    <div class="social-icons">
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="#"><i class="bi bi-twitter"></i></a>
    </div>
  </div>

<!-- Menu Principal -->
<div class="main-menu">
  <ul>
    <li><a href="#">Servicios</a></li>
    <li><a href="#">Acerca de</a></li>
    <li><a href="#">Precios</a></li>
    <li><a href="#">Contactos</a></li>
    <li><a href="#">Realizar Pago</a></li>
    <li>
      <a href="https://pluto.tv/latam/account/sign-in" target="_blank">PlutoTv</a>
      <span class="live-dot"></span>
    </li>
  </ul>
</div>
</header>