<div class="services-offered-container">
    <div class="services-title">
        <h1>NUESTROS</h1>
        <h2>Servicios</h2>
    </div>
    <div class="container">
        <div class="box">
            <div class="icon">01</div>
            <img src="../../../../assets/images/wifi.png" alt="Conexión Inalámbrica" class="service-image">
            <div class="content">
                <h3>Conexión Inalámbrica</h3>
                <p>Internet comunitario en zonas desatendidas de Cochabamba.</p>
                <a routerLink="/Wireless-Internet">Ver Más</a>
            </div>
        </div>

        <div class="box">
            <div class="icon">02</div>
            <img src="../../../../assets/images/torre-de-señal.png" alt="Sistema Hostpot" class="service-image">
            <div class="content">
                <h3>Sistema Hostpot</h3>
                <p>Ofrece Internet WiFi en tu negocio y mejora tus ventas.</p>
                <a href="#" class="btn-2">Ver Más</a>
            </div>
        </div>

        <div class="box">
            <div class="icon">03</div>
            <img src="../../../../assets/images/servicios-de-consultoria.png" alt="Consultoría TI" class="service-image">
            <div class="content">
                <h3>Servicio de Consultoría TI</h3>
                <p>Realizamos Todo Tipos de Configuraciones Para Optimizar Tu red al 100%.</p>
                <a href="#" class="btn-3">Ver Más</a>
            </div>
        </div>
    </div>
</div>
