<swiper-container
  #swiper
  class="mySwiper"
  loop="true"
  autoplay-delay="3000"
  autoplay-disable-on-interaction="false">

  <swiper-slide *ngFor="let slide of slides">
    <div class="slide-content">
      <img
        *ngIf="isMobile; else desktopImage"
        [src]="slide.mobileImage"
        alt="Mobile image"
        class="responsive-image"
        loading="lazy"
        (error)="onImageError($event)" />

      <ng-template #desktopImage>
        <img
          [src]="slide.desktopImage"
          alt="Desktop image"
          class="responsive-image"
          loading="lazy"
          (error)="onImageError($event)" />
      </ng-template>
    </div>
  </swiper-slide>
</swiper-container>
