<swiper-container
  #swiper
  class="mySwiper"
  navigation="true"
  pagination="true"
  pagination-clickable="true"
  loop="true"
  autoplay-delay="3000"
  autoplay-disable-on-interaction="false">

  <swiper-slide *ngFor="let slide of slides">
    <div
      class="slide-content"
      [ngStyle]="{'background-image': 'url(' + slide.backgroundImage + ')'}">
      <img
        *ngIf="slide.smallImage; else defaultImage"
        [src]="slide.smallImage"
        alt="Small image"
        class="small-image"
        loading="lazy"
        (error)="onImageError($event)" />

      <ng-template #defaultImage>
        <img
          src="../../../assets/images/placeholder_default.png"
          alt="Default image"
          class="small-image"
          loading="lazy"
          (error)="onImageError($event)" />
      </ng-template>

    </div>
  </swiper-slide>
</swiper-container>
