
    <div class="container">
        <h1>Estamos orgullosos de ser la mejor opción para ti</h1>
        <div class="row">
            <div class="service">
                <i class="bi bi-currency-euro"></i> <!-- Icono de Euro -->
                <h2>Tenemos el mejor Precio</h2>
                <p>
                    Sabemos que el ahorro es muy importante y por eso tenemos las mejores tarifas del mercado. No encontraras precios más competitivos
                </p>
            </div>
            <div class="service">
                <i class="fas fa-unlock-alt"></i> <!-- Icono de Candado Abierto -->
                <h2>Sin Permanencia</h2>
                <p>
                    Creemos en la libertad. Por esos, no imponemos contratos de permanencia. Tú decides, tú debes tener el control.
                </p>
            </div>
            <div class="service">
                <i class="bi bi-cup-hot"></i> <!-- Icono de Tarifas Flexibles -->
                <h2>Tarifas Flexibles</h2>
                <p>
                    Cada persona es única y por eso que ofrecemos tarifas flexibles que te permiten personalizar tus servicios según tus necesidades. Paga solo por lo que realmente utilizas.
                </p>
            </div>
            <div class="service">
                <i class="fas fa-tools"></i> <!-- Icono de Mantenimiento -->
                <h2>Mantenimiento y Ayuda</h2>
                <p>
                    Tu satisfacción es nuestra prioridad. Ofrecemos mantenimiento gratuito y asistencia técnica 24/7 para garantizar que tus servicios siempre funcionen a la perfección.
                </p>
            </div>
            <div class="service">
                <i class="fas fa-user-check"></i> <!-- Icono de Atención Personalizada -->
                <h2>Atención Personalizada</h2>
                <p>
                    Nuestro equipo de atención al cliente te atendera en menos de 10 segundos. Resolveremos cualquier duda o pregunta que puedas tener. No olvides que siempre tendrás un técnico asignado a tu zona para ayudarte.
                </p>
            </div>
            <div class="service">
                <i class="fas fa-mobile-alt"></i><!-- Icono de Análisis de Datos (sin cambios) -->
                <h2>Aplicacion Movil</h2>
                <p>
                    Nuestra plataforma innovadora y fácil de usar te brinda acceso a una experiencia digital inigualable. Con nuestra página web y aplicación móvil intuitiva, puedes mantenerte al tanto de todas las novedades, eventos y cambios importantes de manera rápida y sencilla.
                </p>
            </div>
        </div>
    </div>
